.lead__title{
    color: #FFFFFF;
    line-height: 100px;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    text-align: center;
    margin: 0 0 32px;
}

@media (min-width: 321px) and (max-width: 761px) {
    .lead__title {
        max-width: 106px;
        margin-left: 8px;
        margin-right: 8px;
    }
}