.intro__text{
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.8px;
    color: #FFFFFF;
    margin: 40px 0 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .intro__text{
        margin: 0 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro__text{
        max-width: 720px;
        margin: 0px 24px 33px;
        font-size: 16px;
        line-height: 163%;
    }
}